@tailwind base;
@tailwind components;
@tailwind utilities;

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.ce-block__content > *:focus {
  outline: 2px solid black;
  border-radius: 5px;
  margin-left: 10px;
}
